<section class="project-container">
    <h2 class="text-center text-dark fw-bold text-decoration-underline text-uppercase">Project Interfaces</h2>
    <div class="row">
        <div class=" mb-4 col-md-4 p-3">
            <div class="card bg-primary">
                <a data-bs-toggle="modal" data-bs-target="#modal1">
                  <img src="assets/pro_3.jpg" alt="" class="card-img-top">
                  <div class="card-body">
                    <p class="text-light fst-italic fw-bold"><Strong>Any Star Registraion:</Strong>Any Star Registraion is a Gifting Platform. I worked as an Intern for this project I have learnt some basics of Angular.</p>

                  </div>
                </a>
              </div>
        </div>
        <div class="mb-4 col-md-4 p-3">
            <div class="card bg-danger">
                <a data-bs-toggle="modal" data-bs-target="#modal1">
                  <img src="assets/pro_1.png" alt="" class="card-img-top">
                  <div class="card-body">
                    <p class="text-light fw-bold fst-italic"><Strong>Vera Software Solutions:</Strong>Vera solutions is for start ups enterprises to boost the business with cutting edge software solutions. I have Worked for research and User Interface in this project. </p>

                  </div>
                </a>
              </div>
        </div>
        <div class="mb-4 col-md-4 p-3">
            <div class="card bg-dark">
                <a data-bs-toggle="modal" data-bs-target="#modal1">
                  <img src="assets/pro_2.png" alt="" class="card-img-top">
                  <div class="card-body">
                    <p class="text-light fw-bold fst-italic"><Strong>Corso Website:</Strong>Website for Virtual Training sections. Worked on User Interface On Angular Technology.</p>

                  </div>
                </a>
              </div>
        </div>
       

    </div>
</section>