<app-header></app-header>

<!-- Profile and content -->

<section class="container">
   <div class="row">
    <div class="col-md-6 align-items-center mt-5">
        <img src="https://pbs.twimg.com/profile_images/1683842179360501760/Da8NHyOA_400x400.jpg" alt="Meesala Sai Pranay profile picture" class="rounded-circle m-5" />
    </div>
    <div class="col-md-6 align-items-center mt-5">
        <div class="mt-5">
        <p class="text-dark text-center">Hello, I'm</p>
        <h1 class="title">Meesala Sai Pranay</h1>
        <p class="heading-2 text-center">Mean Stack Developer</p>
    </div>
    <div class="align-items-center text-center">
    <a href="" class="btn text-bg-warning m-3 p-2" (click)="downloadResume()">Download Resume</a>
    <a href="" class="btn text-bg-primary m-3 p-2">Contact Info</a>
</div>
<div class=" text-center">
    <a href="https://github.com/saipranaymeesala" class="text-dark">
    <i class="fa-brands fa-github fa-3x m-3"></i>
</a>
<a href="https://www.linkedin.com/in/sai-pranay-meesala" class="text-dark">
    <i class="fa-brands fa-linkedin fa-3x m-3"></i>
</a>
</div> 
    </div>
   </div>
</section>

<!-- A bit about my self -->
<section class="py-4 overflow-hidden bg-light ">
   
    <h1 class="text-center text-dark">A Bit about Myself</h1>
    <div class="row">
        <div class="col-md-6">
       <div class="m-5">
         <h2 class="fw-bold">Education</h2>
         <ul class="mt-3">
            <li class="mt-1"><span class="fw-bold">St. peter's Engineering College,Hyderabad,India (2020-2024)</span> <br>
            <span class="text-dark">Bachelor of Technology in Information Technology</span></li>
            <li class="mt-1"><span class="fw-bold">Sri Chaitanya Junior College,Hyderabad,India (2018-2020)</span> <br>
                <span class="text-dark">Mpc</span></li>
            <li class="mt-1"><span class="fw-bold">Sri Chandra High School,Nizamabad,India (2018)</span> <br>
                <span class="text-dark"></span></li>
         </ul>
         <h2 class="fw-bold">Technical Skills</h2>
         <ul class="mt-3">
            <li class="mt-1"><span class="fw-bold">Programming Languages:</span> <br>
            <span class="text-dark">Javascript,Typescript.</span></li>
            <li class="mt-1"><span class="fw-bold">Frameworks & Technologies:</span> <br>
                <span class="text-dark">Angular,HTML,CSS,Bootstrap.
                </span></li>
            <li class="mt-1"><span class="fw-bold">Tools:</span> <br>
                <span class="text-dark">Git,GitHub.
                </span></li>
            <li class="mt-1"><span class="fw-bold">Databases:</span> <br>
                <span class="text-dark">MongoDb
                    </span></li>
            <li class="mt-1"><span class="fw-bold">Additional Sills:</span> <br>
                <span class="text-dark">Problem-solving,Mathematical analysis,Project Management.
                        </span></li>
         </ul>
         <h2 class="fw-bold">Languages Known</h2>
         <ul class="mt-3">
            <li class="mt-1"><span class="fw-bold">Telugu(Native)</span> 
            </li>
            <li class="mt-1"><span class="fw-bold">Hindi(Mid level)</span></li>
            <li class="mt-1"><span class="fw-bold">English(Proficiency)</span> </li>
         </ul>
       </div>
    </div>
    </div>
</section>