<section>
    <div class="header bg-info pt-5 pb-5">
        <div class="hero text-white pt-7">
          <div class="container-xl">
            <div class="row">
              <div class="col-12 text-center p-5">
                <i class="fa-solid fa-address-book fa-5x"></i>
                  <h1>Contact Me.......</h1>
              </div>
            </div>
                
          </div>
        </div>
       </div>

      <!-- contact-form -->
       <section class="contact bg-light pb-4">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <form action="https://formspree.io/f/mblraygr" method="POST">
                          <div class="mb-3 p-2">
                              <input type="text" name="name" id=""  placeholder="Name" class="form-control form-control-lg"/>
                              
                          </div>
                        
                          <div class="mb-3 p-2">
                            <input type="email" name="name" id=""  placeholder="Email" class="form-control form-control-lg"/>
                            
                        </div>
                      
                          <div class="mb-3">
                              <input type="text" name="reason" id="" rows="6" class="form-control form-control-lg"
                                placeholder="Message"/>
                          </div>
                          <div class="d-grid"><button class="btn btn-primary text-white">Submit</button></div>
                      </form>
                  </div>
              </div>
          </div>
</section>