<div class="contact-container">
<div class="container mt-3">
  <h2 class="text-center mb-4">Contact Me</h2>
  <div class="card shadow-sm p-4 bg-secondary">
    <form action="https://formspree.io/f/mblraygr" method="POST">
      <div class="mb-3 p-2">
          <input type="text" name="name" id=""  placeholder="Name" class="form-control form-control-lg"/>
          
      </div>
      <div class="mb-3 p-2">
        <input type="email" name="name" id=""  placeholder="Email" class="form-control form-control-lg"/>
        
    </div>
      <div class="mb-3">
          <textarea type="text" name="reason" id="" rows="6" cols="" class="form-control form-control-lg w-100 h-25"
            placeholder="Message"> </textarea>
      </div>
      <div class="d-grid"><button class="btn btn-info text-white">Submit</button></div>
  </form>
  </div>
</div>
</div>


